.mimesWeep {
  text-align: center;
}

.mimesWeep-header {
  background-color: #282c34;
  max-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10vmin;
  color: #61dafb;
}

mimesWeep-ops-buttons {
  padding: 3vh;
}

.mimesWeep-num-buttons  {
  padding: 5vh;
}

.mimesWeep-target  {
  padding: 5vh;
}