.mimesWeep {
  text-align: center;
}

.mimesWeep-header {
  background-color: #4fa3f3;
  min-height: 70px;
  max-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}