.mimesWeep {
  text-align: center;
}

.mimesWeep-header {
  background-color: #3b517d;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 6vmin;
  color: #dbdde0;
  letter-spacing: 12px;
  padding-left: 12px;
}